SECRET_KEY=django-insecure-test-hub-demo-change-me
DEBUG=True
ALLOWED_HOSTS=localhost,127.0.0.1

DB_NAME=test_hub_demo
DB_USER=root
DB_PASSWORD=
DB_HOST=127.0.0.1
DB_PORT=3306

CORS_ALLOWED_ORIGINS=http://localhost:3000,http://127.0.0.1:3000
CSRF_TRUSTED_ORIGINS=http://localhost:3000,http://127.0.0.1:3000
REDIS_URL=redis://127.0.0.1:6379/0
OPENSEARCH_URL=http://127.0.0.1:9200
OPENSEARCH_INDEX_ALIAS=testhub-assets-current
OPENSEARCH_TIMEOUT=15
OPENSEARCH_USERNAME=
OPENSEARCH_PASSWORD=

QINIU_ACCESS_KEY=
QINIU_SECRET_KEY=
QINIU_BUCKET=
QINIU_DOMAIN=
QINIU_DOCS_PREFIX=docs
