Django==4.2.7
djangorestframework==3.14.0
djangorestframework-simplejwt==5.5.1
django-cors-headers==4.3.1
django-filter==23.5
drf-spectacular==0.27.2
python-decouple==3.8
PyMySQL==1.1.0
channels==4.3.2
channels-redis==4.3.0
daphne==4.1.2
celery==5.3.4
redis==5.0.1
opensearch-py==3.0.0
qiniu==7.16.0
PyPDF2==3.0.1
python-docx==1.2.0
openpyxl==3.1.5
docling==2.115.0
